{% extends 'base.html' %}


{% block content %}
{% load static %}

<section class="section-conten padding-y bg">
    {% include 'include/alert-massage.html' %}
    <div class="container">
        <div class="row">
          <!--   SIDEBAR   -->
          {% include 'account/dashbord_sidebar.html' %}

        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Edit your profile </strong>
            </header>
            <div class="card-body">
              <div class="text-right">
                <img src="{{ userprofile.profile_picture.url }}" alt="Profile Picture" width="100" style="border-radius:50px;">
              </div>
                <div class="row"> 
                    <div class="col-md-12">
                        <form action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="first_name">First Name</label>
                              {{ user_form.first_name }}
                              <!-- <input type="text" name="first_name" id="first_name" class="form-control"> -->
                            </div>
                            <div class="form-group col-md-6">
                              <label for="last_name">Last Name</label>
                              {{ user_form.last_name }}
                              <!-- <input type="text" name="last_name" id="last_name" class="form-control"> -->
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="phone_number">Phone Number</label>
                              {{ user_form.phone_number }}
                              <!-- <input type="tel" name="phone_number" id="phone_number" class="form-control"> -->
                            </div>
                            <div class="form-group col-md-6">
                              <label for="profile_picture">Profile picture</label>
                              {{ profile_forms.profile_picture }}
                              <!-- <input type="file" name="profile_picture" id="profile_picture" class="form-control"> -->
                            </div>
                          </div>
                            <div class="form-group">
                              <label for="address_line_1">Address Line 1</label>
                              {{ profile_forms.address_line_1 }}
                              <!-- <input type="text" name="address_line_1" id="address_line_1" class="form-control"> -->
                            </div>
                            <div class="form-group">
                              <label for="address_line_2">Address Line 2</label>
                              {{ profile_forms.address_line_2 }}
                              <!-- <input type="text" name="address_line_2" id="address_line_2" class="form-control"> -->
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-4">
                                <label for="city">City</label>
                                {{ profile_forms.city }}
                                <!-- <input type="text" name="city" class="form-control" id="city"> -->
                              </div>
                              <div class="form-group col-md-4">
                                <label for="state">State</label>
                                {{ profile_forms.state }}
                                <!-- <input type="text" name="state" class="form-control" id="state"> -->
                              </div>
                              <div class="form-group col-md-4">
                                <label for="country">Country</label>
                                {{ profile_forms.country }}
                                <!-- <input type="text" id="country" name="country" class="form-control"> -->
                              </div>
                            </div>
                            <input type="submit" value="Save" class="btn btn-primary">
                        </form>
                    </div>
                  
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
           
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    {% endblock content %}